footer {
    background-color: var(--gray-secundary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
}

footer>a>img {
    width: 60%;
}

@media screen and (max-width: 450px) {
    footer {
        padding: 28px 0px;
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    footer>a>img {
        width: 100%;
    }
}