@import url('resete.css');
@import url('nav.css');
@import url('aviso.css');
@import url('banner.css');
@import url('titulo.css');
@import url('beneficios.css');
@import url('saiba-mais.css');
@import url('sobre-nos.css');
@import url('aplicacoes.css');
@import url('controle-acesso.css');
@import url('contato.css');
@import url('conte-conosco.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --black: #000000;
    --black-claro: rgb(27, 27, 27);
    --white: #FFFFFF;
    --primary-collor: #de322d;
    --gray-primary: #AAAAAA;
    --gray-secundary: #f0f0f0;
    --gray-tertiary: #f5f5f5;
    --orang: #fa0;
}

* {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    text-align: center;
    margin: 40px 60px;
}

.button {
    background-color: var(--primary-collor);
    color: white;
    border-radius: 48px;
    padding: 8px 40px;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    min-height: 56px;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    opacity: .7;
    background-color: var(--primary-collor);
}

h1 {
    color: var(--primary-collor);
    margin: 100px auto;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
}

h2 {
    color: var(--primary-collor);
    margin: 100px auto;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
}

h3 {
    color: var(--black-claro);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
    color: var(--black-claro);
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 28px;
        margin: 40px auto;
    }

    iframe {
        width: 310px;
        height: auto;
    }
}