@import url('resete.css');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --black: #000000;
    --black-claro: rgb(27, 27, 27);
    --white: #FFFFFF;
    --primary-collor: #de322d;
    --gray-primary: #AAAAAA;
    --gray-secundary: #f0f0f0;
    --gray-tertiary: #f5f5f5;
    --orang: #fa0;
}

* {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    text-align: center;
    margin: 40px 60px;
}

.container-button {
    position: absolute;
    bottom: 90px;
    left: 170px;
}

.button {
    background-color: var(--primary-collor);
    color: white;
    border-radius: 48px;
    padding: 8px 40px;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    min-height: 56px;
    align-items: center;
    cursor: pointer;

}

.button:hover {
    opacity: .7;
    background-color: var(--primary-collor);
}


.aviso {
    background-color: var(--primary-collor);
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Helvetica, arial, sans-serif;
}

.banner {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 660px;
    background-size: cover;
    position: relative;
}





.titulo {
    text-align: center;
    margin: 40px auto;
}



h1 {
    color: var(--primary-collor);
    margin: 100px auto;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
}

h2 {
    color: var(--black-claro);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: var(--black-claro);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
    color: var(--black-claro);
}


.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficios {
    text-align: center;
    margin: 40px auto;
}




.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 280px;
    margin-bottom: 30px;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    font-size: 16px;
    line-height: 1.75;
}

.saiba-mais {
    background-image: url(../img/fundo.webp);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 30px;
}

.saiba-mais>span {
    font-size: 48px;
    color: var(--white);
    text-align: center;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
    font-weight: bold;
    width: 60%;
}

.saiba-mais>p {
    color: var(--white);
    width: 60%;
}

.sobre-nos {
    text-align: center;
    margin: 40px auto;
}


.sobre-nos .container {
    display: flex;
    text-align: justify;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
}

.sobre-nos .container>div {
    display: grid;
    gap: 32px;
}

.sobre-nos .container>div .button {
    background-color: transparent;
    color: var(--primary-collor);
    padding: 0;
    text-decoration: underline;
}



.aplicacoes {
    text-align: center;
    margin: 40px auto;
}



.aplicacoes .aplicacoes-card {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.aplicacoes .aplicacoes-card h2 {
    margin-bottom: 32px;
}

.aplicacoes .aplicacoes-card>img {
    width: 40%;
    height: auto;
    margin: 27px;
}


.controle-acesso h1 {
    width: 80%;
}

.controle-acesso p {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    font-size: 16px;
    line-height: 1.75;
}


.contato {
    text-align: center;
    margin: 40px auto;
}

.contato-card {
    display: flex;
}

.contato-card div {
    text-align: justify;
    margin: 90px;
    gap: 30px;
    display: inline-grid;
}

.telefone {
    text-align: center;
    color: var(--primary-collor);
    font-size: 32px;
}

.contato-card img {
    width: 43%;
    height: 100%;
}




.conecte-conosco {
    text-align: center;
    margin: 40px auto;
}



footer {
    background-color: var(--gray-secundary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
}

footer>a>img {
    width: 60%;
}